@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

lenis lenis-smooth {
  scroll-behavior: auto !important;
}
lenis lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
lenis lenis-stopped {
  overflow: hidden;
}

$main-bg-color: #e2e1e3;
$secondary-bg-color: #2a2a2a;
$primary-color: #f55700;
$secondary-color: #59574a;
