---
import { Image } from "astro:assets";
import aboutImg from "../../assets/modern.jpg";
import "./About.scss";

const tags = [
  "MATERIALES DE CONSTRUCCIÓN",
  "HERRAMIENTAS",
  "PLOMERÍA",
  "ELECTRICIDAD",
  "PINTURA",
  "FERRETERÍA",
  "JARDINERÍA",
  "HOGAR",
  "Y MUCHO MÁS...",
];
---

<section id="about">
  <div class="about-content">
    <div class="about-left">
      <div class="about-image">
        <Image src={aboutImg} alt="Asesor de ferretería" />
      </div>
    </div>
    <div class="about-right">
      <h2>La ferretería con más experiencia en Coro, Falcón.</h2>
      <div class="about-description">
        <p>
          Desde 1970 somos el referente en materiales de construcción, herramientas y ferretería en
          Coro. Más de 50 años respaldando proyectos residenciales, comerciales e industriales en
          todo el estado Falcón.
        </p>
        <p>
          Nuestro equipo de asesores expertos te ayuda a elegir los productos correctos y calcular
          las cantidades exactas para tu obra. También ofrecemos entrega a domicilio para mayor
          comodidad.
        </p>
      </div>
      <div class="about-tags">
        {tags.map((tag) => <span class="tag">{tag}</span>)}
      </div>
      <a href="#contact" class="btn-primary">SOLICITAR ASESORÍA</a>
    </div>
  </div>
</section>
