---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero/Hero.astro";
import Brands from "../components/Brands/Brands.astro";
import Contact from "../components/Contact/Contact.astro";
import Services from "../components/Services/Services.astro";
import Map from "../components/Map/Map.astro";
import About from "../components/About/About.astro";
import Faq from "../components/Faq/Faq.astro";
import Footer from "../components/Footer/Footer.astro";

import "../styles/globals.scss";
---

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
  import Lenis from "lenis";

  document.addEventListener("DOMContentLoaded", () => {
    gsap.registerPlugin(ScrollTrigger);

    ScrollTrigger.clearScrollMemory("manual");
    window.scrollTo(0, 0);

    // LENIS INSTANCE
    const lenis = new Lenis();
    lenis.on("scroll", ScrollTrigger.update);
    gsap.ticker.add((time) => lenis.raf(time * 1000));
    gsap.ticker.lagSmoothing(0);

    // SCROLL SMOOTH FOR CLICKING ANCHOR
    document.querySelectorAll('a[href^="#"]').forEach((el) => {
      el.addEventListener("click", (e) => {
        e.preventDefault();
        const id = el.getAttribute("href")?.slice(1);
        if (!id) return;
        const target = document.getElementById(id);
        if (target) {
          target.scrollIntoView({ behavior: "smooth" });
        }
      });
    });
  });
</script>

<Layout title="Ferretería Batista - Inicio">
  <main>
    <Hero />
    <Brands />
    <Services />
    <About />
    <About />
    <Faq />
    <Map />
    <Contact />
    <Footer />
  </main>
</Layout>
