---
import { Image } from "astro:assets";
import footerImg from "../assets/footer.png";
---

<script>
  import { gsap } from "gsap";

  document.addEventListener("DOMContentLoaded", () => {
    const about = document.querySelector("#about");
    gsap.fromTo(
      ".about_img",
      {
        opacity: 0,
        y: 100,
      },
      {
        opacity: 1,
        y: 0,
        duration: 1,
        scrollTrigger: {
          markers: true,
          trigger: about,
          start: "top bottom",
          end: "bottom top",
          toggleActions: "play none none none",
          immediateRender: false,
        },
      }
    );
  });
</script>
<section id="about">
  <div class="about_info">
    <h1>Equipo y Misión</h1>
  </div>
  <div class="about_img">
    <Image src={footerImg} width={1920} height={1080} alt={"footer"} />
  </div>
</section>
