<script>
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";

  document.addEventListener("DOMContentLoaded", () => {
    const footer: HTMLElement = document.querySelector("#footer")!;
    const getOverlap = () => Math.min(window.innerHeight, footer.offsetHeight);
    const adjustFooterOverlap = () => (footer.style.marginTop = -getOverlap() + "px");
    adjustFooterOverlap();
    ScrollTrigger.addEventListener("revert", adjustFooterOverlap);
    ScrollTrigger.create({
      trigger: footer,
      start: () => "top " + (window.innerHeight - getOverlap()),
      end: () => "+=" + getOverlap(),
      pin: true,
    });
  });
</script>
<footer id="footer">
  <div class="footer-contact">
    <p>Llamanos</p>
    <a href="tel:555-555-5555">555-555-5555</a>
    <p>Horario de atencioÌn</p>
    <p>Lunes a Viernes de 9:00 a.m. a 5:00 p.m.</p>
    <p>Sabados de 9:00 a.m. a 1:00 p.m.</p>
  </div>
</footer>
