---
import "./Footer.scss";
---

<footer id="footer">
  <div class="footer-contact">
    <p>Llamanos</p>
    <a href="tel:555-555-5555">555-555-5555</a>
    <p>Horario de atención</p>
    <p>Lunes a Viernes de 9:00 a.m. a 5:00 p.m.</p>
    <p>Sabados de 9:00 a.m. a 1:00 p.m.</p>
  </div>
</footer>
