---
import "./Footer.scss";
---

<footer id="footer">
  <div class="footer-content">
    <p>&copy; {new Date().getFullYear()} Ferretería Batista. Todos los derechos reservados.</p>
    <p>
      Desarrollado por <a href="https://joviedo.com" target="_blank" rel="noopener noreferrer"
        >JOVIEDO</a
      >
    </p>
  </div>
</footer>
